<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous" />
        
    </head>
    <body>
        <div class="border-bottom shadow-sm p-3 px-md-4 mb-3">
            <div class="container align-items-center d-flex flex-column flex-md-row">
                <h5 class="my-0 mr-md-auto font-weight-normal">{{ self.title() }}</h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="p-2 text-dark" href="/">APP-Task list</a>
                </nav>
                {% if 'user' in session %}
                <form method="POST" action="/logout">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="btn-group">
                        <span class="btn btn-primary disabled">{{ session['user']['email'] }}</span>
                        <button type="submit" class="btn btn-outline-primary">Déconnexion</a>
                </div>
                </form>
                {% else %}
                <a class="btn btn-outline-primary" href="/login">Connexion</a>
                {% endif %}
                
            </div>
        </div>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>