
{% extends "layout.html" %}



{% block content %}

<div class="box2">
    <div class="add_task">
        <form method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" name="title"  placeholder="Insert title task" minlength=3 maxlength=40 required>
            </div>
    
            <div style="width: 100%;" class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text">Description</span>
                </div>
                <textarea class="form-control" aria-label="With textarea" name="description" placeholder="Optional" minlength=3 maxlength=400></textarea>
        
            </div>
                <label for="start">DUE DATE :</label>
                <input type="date" id="start" name="due_date" required>   
            <div>
            
                <button type="submit" class="btn btn-primary btn-sm">CREATE</button>
                <button type="reset" class="btn btn-secondary btn-sm">RESET</button>

            </div>
        </form>
    </div>

    <div class="complete_list">
        
        {% for ligne in tasks_user %} 
        <div class="task_options"> 
            <div style="color: Dodgerblue"> <i class="{{'fas fa-thumbs-up fa-2x' if task_do == ligne['id'] else ''}}"></i></div>
            <div class="name_task2"> <h4 style=" display: inline-flex;">{{ ligne['title'] }}</h4> </div>
            <div class="description">{{ ligne['description'] }}</div>
            <div class="date_end2"> <h4>Due date: {{ ligne['due_date'] }}</h4></div>
            <div class="boutons"> 
                <div class="btn-group" role="group" aria-label="Basic example">
                    {% if 'user' in session %}

                    <form method="POST" action="/liste/do/{{ligne['id']}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-success"> Completed <i class="fas fa-check"></i> </button> 
                    </form>

                    <form method="POST" action="/liste/delete/{{ligne['id']}}">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                        <button type="submit" class="btn btn-danger">  Delete <i class="fas fa-exclamation-triangle"></i> </button> 
                    </form>
                    
                    {% endif %}
                </div>
            </div>
            <div class="priority{{ligne['priority']}}">    </div>
        </div>
        {% endfor %}

    </div>
</div>


{% endblock %}